@mixin interCss {

}

.footer {flex:0;text-align: center;color: #fff;

  :global(.footLink) {margin-bottom: 10px;
    :global(.ico) {display: inline-block;vertical-align: middle;width:24px;height: 24px;cursor: pointer;opacity: .8;
      &:hover {opacity: 1;}
    }
    .ico-github {}
    img {width:24px;height: auto;display: inline-block;vertical-align: middle;}
  }

  :global(.ghs) {
    img{ display: inline-block;vertical-align: middle;margin-right: 10px;width: 20px;height: 20px;
    }
    a {display: inline-block;vertical-align: middle;}
  }
}
