.welcome {color: #fff;text-align: center;
  img {display: block;width:168px;height:auto;margin: 0 auto 20px;opacity:1;}
  .h1 {font-size:42px;display: inline-block;background-color:rgba(8,101,214,1);padding:5px 20px;margin: 10px;}
  .h2 {font-size: 22px;color: rgba(255,255,255,.6);display: block;}
}