.welcome {color: #fff;text-align: center;
  .h1 {font-size:48px;display: inline-block;
    margin: 10px 0 0 0;}
  .h2 {font-size: 20px;color: rgba(255,255,255,.6);display: block;position: relative;
  }
  
  .mix3d {
    margin: 0 auto;
    display: block;
    width: 236px;
    height: 236px;
    z-index: 2;
    background: url("../../assets/images/apple.png") no-repeat;
  }
}